version: "3.8"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: changeme
      POSTGRES_DB: appdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  auth:
    build:
      context: ./auth/authentication
      dockerfile: Dockerfile
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://ep-long-feather-a1jvn6ah-pooler.ap-southeast-1.aws.neon.tech:5432/neondb?sslmode=require&channel_binding=require"
      SPRING_DATASOURCE_USERNAME: "neondb_owner"
      SPRING_DATASOURCE_PASSWORD: "npg_uDPTyF9b3eNp"
    depends_on:
      - db
    ports:
      - "8081:8081"

  notification:
    build:
      context: ./Backend/notification-system
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - "8083:8083"

  employee-service:
    build:
      context: ./employee-service
      dockerfile: Dockerfile
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://ep-old-bread-a4lduu7m-pooler.us-east-1.aws.neon.tech:5432/neondb?sslmode=require&channel_binding=require"
      SPRING_DATASOURCE_USERNAME: "neondb_owner"
      SPRING_DATASOURCE_PASSWORD: "npg_cx0ZlPBeyT6R"
    depends_on:
      - db
    ports:
      - "8070:8070"

  chatbot-backend:
    build:
      context: ./chatbot-backend
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - "8086:8086"

  admin:
    build:
      context: ./admin
      dockerfile: Dockerfile
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://ep-raspy-cherry-ahvd3mbd-pooler.c-3.us-east-1.aws.neon.tech:5432/neondb?sslmode=require&channel_binding=require"
      SPRING_DATASOURCE_USERNAME: "neondb_owner"
      SPRING_DATASOURCE_PASSWORD: "npg_QMq8Be5whTDA"
    depends_on:
      - db
    ports:
      - "8082:8082"

  customer_service:
    build:
      context: ./Customer_Service/customer_service
      dockerfile: Dockerfile
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://ep-weathered-paper-a1e2pqli-pooler.ap-southeast-1.aws.neon.tech:5432/neondb?sslmode=require"
      SPRING_DATASOURCE_USERNAME: "neondb_owner"
      SPRING_DATASOURCE_PASSWORD: "npg_7qejET0MJmlF"
      AUTH_SERVICE_BASE_URL: "http://auth:8081"
    depends_on:
      - db
    ports:
      - "8085:8085"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_CUSTOMER_BASE_URL=http://localhost:8085
    environment:
      - NEXT_PUBLIC_CUSTOMER_BASE_URL=http://localhost:8085
    ports:
      - "3000:3000"
    depends_on:
      - auth
      - notification
      - customer_service

volumes:
  pgdata:

  rabbitmqdata:
