apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification
  namespace: enterprise-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification
  template:
    metadata:
      labels:
        app: notification
    spec:
      containers:
      - name: notification
        image: enterprise-notification:dev
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 8080
        env:
          - name: SPRING_DATASOURCE_URL
            value: jdbc:postgresql://postgres.enterprise-dev.svc.cluster.local:5432/appdb
          - name: SPRING_DATASOURCE_USERNAME
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: POSTGRES_USER
          - name: SPRING_DATASOURCE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: POSTGRES_PASSWORD
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 10
          timeoutSeconds: 2
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 20
          timeoutSeconds: 2
---
apiVersion: v1
kind: Service
metadata:
  name: notification
  namespace: enterprise-dev
spec:
  selector:
    app: notification
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 31087
  type: NodePort
