spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Customer_Service
    username: postgres
    password: thajee2002

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8081
