spring:
  datasource:
    url: jdbc:postgresql://dpg-cxxxxxx.render.com:5432/customer_service_pmj0
    username: customer_service_pmj0_user
    password: FZLlJkTkMzcGh7HZMfZhiAL9Wg13Ikyx
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
